<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
    </head>
    <body>
    This is a Flask-Bower test. jQuery downloaded with bower and served using Flask-Bower from bower_components directory.
    </body>
</html>
